.circle {
  @include circle(7.9rem, 50%);
}

.circle--absolute {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -321321;
  @include media("<sm") {
    top: 1.5rem;
    left: -1.5rem;
  }
}
.circle--big {
  @include circle(9.2rem, 50%);
}
.circle--pink-2 {
  background-color: #fdf1e7;
}
.circle--pink-3 {
  background-color: $color-tertiary-1;
}
.circle--blue-2 {
  background-color: $color-primary-3;
}
.circle--grey {
  background-color: $color-tertiary-3;
}
.circle--charcoal-purple {
  background-color: $color-primary-2;
}

.circle--relative {
  position: relative;
  z-index: 1;
}
.circle--after::after {
  content: "";
  position: absolute;
  z-index: 0;
  opacity: 0.2;
  background-color: currentColor;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle--orange {
  color: rgba(253, 155, 155, 1);
}
.circle--violet-1 {
  color: rgba(176, 107, 241, 1);
}
.circle--skyblue-1 {
  color: rgba(60, 176, 189, 1);
}
.circle--blue-1 {
  color: rgba(84, 92, 240, 1);
}
.circle--pink-1 {
  color: rgba(241, 107, 172, 1);
}
.circle--green-1 {
  color: rgba(72, 222, 87, 1);
}
