.icon {
  position: relative;
}

.icon--right {
  position: absolute;
  top: 0;
  left: 2rem;
}
.icon--center {
  position: absolute;
  top: 30%;
  left: 7.5%;
}
.las {
  font-size: 10rem;
}
.lar {
  font-size: 3.4rem;
}
