.icon {
  position: relative;
}

.icon--right {
  position: absolute;
  top: 0;
  left: 2rem;
}
.icon--center {
  position: absolute;
  top: 30%;
  left: 7.5%;
}
.icon--bigger {
  font-size: 10rem;
  color: #5e68f9;
}
.icon--big {
  font-size: 3.4rem;
}
