.quote {
  padding: 5rem;
  .quote__desc {
    margin: 2.5rem 0;
  }
  .quote__author {
    position: relative;
    h6 {
      margin-left: 2.5rem;
    }
  }
  .quote__author::after {
    content: "";
    position: absolute;
    border-top: 2px solid #d8d8d8;
    width: 2rem;
    top: 0.8rem;
  }
}
